---
---

// TODO:
// Anything with a color in the property (or variables?), define for dark modes

@font-face {
  font-family: "Lexend Deca";
  src: url("/assets/fonts/lexend-deca/LexendDeca-VariableFont_wght.ttf");
}

:root {
  --pigeon-sky-blue: #C0F0F7;
  --pigeon-dark-green: #1C3E42;
  --pigeon-light-orange: #FFFBF7;
  --pigeon-gold-highlight: #F8BA4F;
  --pigeon-dark-bluegreen: rgb(28, 62, 66);
  --pigeon-img-border-radius: 32px;

  --pico-font-family: "Lexend Deca";
  --pico-font-weight: 400;
  --pico-font-size: 100%;
  --pico-color: rgba(64, 64, 64, 0.76);
}


@media (max-width: 575px) {
  :root,
  :host {
    --pico-font-size: 106.25%;
    --pigeon-hero-width: 90%;
  }
}
@media (min-width: 576px) {
  :root,
  :host {
    --pico-font-size: 106.25%;
    --pigeon-hero-width: 90%;
  }
}
@media (min-width: 768px) {
  :root,
  :host {
    --pico-font-size: 112.5%;
    --pigeon-hero-width: 70%;
    --pigeon-max-width: 700px;
  }
}
@media (min-width: 1024px) {
  :root,
  :host {
    --pico-font-size: 118.75%;
    --pigeon-hero-width: 60%;
  }
}
@media (min-width: 1280px) {
  :root,
  :host {
    --pico-font-size: 125%;
    --pigeon-hero-width: 50%;
  }
}
@media (min-width: 1536px) {
  :root,
  :host {
    --pico-font-size: 131.25%;
    --pigeon-hero-width: 40%;
  }
}


/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  .banner { background-color: var(--pigeon-dark-green); }
  .banner p {
    color: white;
    a {
      color: white;
      text-decoration-color: white;
    }
  }

  .nav-wrapper {
    background-color: var(--pigeon-sky-blue);
  }

  nav {
    a { color: var(--pigeon-dark-bluegreen); }
    button, a[role='button'] { color: white; }

    details.dropdown > summary {
      background-color: rgba(0, 0, 0, 0) !important;
      color: var(--pigeon-dark-bluegreen);
    }
  }

  li.special-event {
    background-color: var(--pigeon-gold-highlight);
  }

  .hero { background-color: var(--pigeon-sky-blue); }

}


/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
 @media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    // Add colors
  }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
// [data-theme="dark"] {
  // duplicate above dark mode
// }

img { border-radius: var(--pigeon-img-border-radius); }

button, a[role='button'] {
  border-radius: 32px;
  border-width: 3px;
  padding: 1rem 1.75rem;
  --pico-font-weight: 700;
  // Add hover
}

.container { max-width: var(--pigeon-max-width); }

.container-fluid {
  --pico-spacing: 0;
}

main.container-fluid {
  padding-bottom: 0;
  margin-bottom: 0;
}

.banner {
  text-align: center;
  padding: 1.75rem 0;
}

.banner p {
  margin-bottom: 0;
  padding-left: var(--pico-nav-element-spacing-horizontal);
  padding-right: var(--pico-nav-element-spacing-horizontal);
}

nav {
  align-items: center;
  justify-content: center;
  --pico-font-weight: 300;
  --pico-font-size: 1rem;

  > ul {
    flex-wrap: wrap;
    padding-top: var(--pico-nav-element-spacing-vertical);
    padding-bottom: var(--pico-nav-element-spacing-vertical);
    padding-left: var(--pico-nav-element-spacing-horizontal);
    padding-right: var(--pico-nav-element-spacing-horizontal);
  }

  > ul > li {
    height: 3.5rem; // 66px, to even the baselines out
    padding-left: calc(var(--pico-nav-element-spacing-horizontal) * 1.25);
    padding-right: calc(var(--pico-nav-element-spacing-horizontal) * 1.25);

    &:has(> details) {
      padding-top: calc(var(--pico-nav-element-spacing-vertical) * 0.6);
      padding-bottom: calc(var(--pico-nav-element-spacing-vertical) * 0.6);
    }
  }

  details.dropdown > summary {
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  details:open {
    text-decoration: underline;
    font-weight: 500;
  }

}

.hero {
  img {
    width: var(--pigeon-hero-width);
    margin: 0 auto;
    position: relative;
    display: block;
  }
}

.top { padding-top: calc(var(--pico-block-spacing-vertical) * 3) !important; }
.bottom { padding-bottom: calc(var(--pico-block-spacing-vertical) * 3) !important; }

section, .grid > div {
  padding: var(--pico-block-spacing-horizontal);
}

.explainer {
  background-color: var(--pigeon-light-orange);
}

.book {
  width: 99%;
  margin: 0 auto;
  position: relative;
  display: block;

  border: 2px solid var(--pico-color);
  border-radius: 20px;

  p {
    margin-left: var(--pico-block-spacing-horizontal) !important;
    margin-right: var(--pico-block-spacing-horizontal) !important;
  }

  h3 {
    margin-top: var(--pico-typography-spacing-vertical);
    margin-bottom: calc(var(--pico-typography-spacing-vertical) * 0.5);
  }
}


.container-fluid.tour.summary:nth-of-type(even) {
  background-color: var(--pigeon-light-orange);

  td {
    background-color: var(--pigeon-light-orange);
  }
}

.tour.summary {
  img { border-radius: var(--pigeon-img-border-radius); }

  button, a[role='button'] {
    margin-top: 0; // var(--pico-block-spacing-vertical);
    margin-bottom: var(--pico-block-spacing-vertical);
    background-color: white;
  }

  .button-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 { margin-bottom: 0; }

  --pico-grid-row-gap: 0;

}

.tour.description {
  h1 { margin-top: calc(var(--pico-typography-spacing-vertical) * 3); }
  img { border-radius: var(--pigeon-img-border-radius); }
  ul { margin-top: var(--pico-block-spacing-vertical) }
}

blockquote {
  padding-top: var(--pico-block-spacing-vertical);
  border-left: none;
  border-inline-start: none;
  font-size: 1.3rem;
  a {
    color: rgb(94, 94, 94);
    text-decoration-color: rgb(94, 94, 94);
  }
}

p {
  color: rgb(94, 94, 94);
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

td {
  border: none;
  padding: calc(var(--pico-typography-spacing-vertical) * 0.1);
}

figcaption {
  font-size-adjust: 0.4;
}

footer {
  background-color: rgb(232, 232, 232);
  color: rgba(94, 94, 94, 0.76);
  padding-top: 0;
  margin-top: 0;
}
