---
title: Home
permalink: "/"
---

{% include hero.html %}
{% include ticket_buttons.html %}

<div class="container-component style-2 default full screen">
  <div class="wrapper">
    <div class="inner">
      <p>
        Join us for pigeon-focused urban birding tours in Philly and New York!
      </p>
      <p>
        Great for all ages, and perfect for locals and tourists alike.
      </p>

      <blockquote>
        <em><strong>"South Philly's hottest new excursion"</strong></em>
        <br />- <a href="{{ site.data.links.inquirer }}">The Philadelphia Inquirer</a>
      </blockquote>

      <blockquote>
        <em><strong>"warm, engaging, and endlessly informative"</strong></em>
        <br />- reviewer on <a href="{{ site.data.links.tripadvisor }}">TripAdvisor</a>
      </blockquote>
    </div>
  </div>
</div>

<div class="container-component style-1 columns full screen">
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1">
      <div>
        <h2>What is a pigeon tour?</h2>
        <p>
          It&#39;s a 90-minute walking tour that&#39;ll leave you thinking differently about your closest bird neighbors&nbsp;— pigeons.&nbsp;(Obviously.)
        </p>
        <p>
          On the tour, you&#39;ll observe pigeons and learn all about their behaviors, biology, and&nbsp;history.
        </p>
        <p>
          You&#39;ll learn the ups and downs of the relationship between humans and pigeons — and you might even see a baby&nbsp;pigeon!
        </p>
        <p>
          <strong>Tourists</strong> will experience a new city from a unique perspective, while <strong>locals</strong> will get to see familiar neighborhoods in a new&nbsp;light.
        </p>
      </div>
      <div>
        <div id="image01" class="image-component style-1"><span class="frame deferred"><img src="assets/images/wire.jpg" alt="Photo of seven pigeons standing on a telephone wire, equally spaced, while another pigeon attempts to land" title="Photo by Steve Denisevicz @ Boncreate.com" /></span></div>
        <p id="text62" class="text-component style-9">A pigeon comes in for a landing during a Nov 2025 tour. Photo by Steve Denisevicz,&nbsp;<a href="https://Boncreate.com">Boncreate.com</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-component instance-3 style-2 default full screen">
  <div class="wrapper">
    <div class="inner">
      <h2>On a pigeon tour, you&#39;ll learn...</h2>
    </div>
  </div>
</div>

<div class="container-component instance-6 style-2 default full screen">
  <div class="wrapper">
    <div class="inner">
      <div id="list02" class="list-component instance-2 style-1">
        <ul>
          <li>
            <p>birdwatching technique, including how to use binoculars like a&nbsp;pro</p>
          </li>
          <li>
            <p>how people and pigeons have related throughout history (it&#39;s mostly been pretty&nbsp;positive!)</p>
          </li>
          <li>
            <p>how our relationship with pigeons has become so negative in recent years, and what our future relationship might look&nbsp;like</p>
          </li>
          <li>
            <p>why you never see baby pigeons — they&#39;re all around, but hard to&nbsp;identify!</p>
          </li>
          <li>
            <p>what different pigeon behaviors&nbsp;mean</p>
          </li>
          <li>
            <p>pigeon biology, genetics, breeds, and&nbsp;colors</p>
          </li>
          <li>
            <p>how we&#39;re connected to the wider&nbsp;ecosystem</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Change container components to sections -->
<div class="container-component style-3 columns full screen">
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1">
      <div>
        <h2 id="text04" class="text-component instance-4 style-1">Our story</h2>
        <p>Philly Pigeon Tours was started by Aspen Simone and HM Brower.</p>
        <p>A few years ago, they adopted their pet pigeon Primrose — long story, you&#39;ll hear it on the tour — and they became quite interested in pigeons.</p>
        <p>They put together Philly Pigeon Tours to help people see &quot;the pigeon layer&quot;, the world of pigeons that we mostly ignore as we go about our lives.</p>
        <p>They hope that, after a Pigeon Tour, you won&#39;t see pigeons the same way again.</p>
      </div>
      <div>
        <div id="image02" class="image-component instance-2 style-1"><span class="frame deferred"><img src="assets/images/primrose-glam.jpg" alt="Primrose the pigeon" title="A real photo of Primrose the pigeon" /></span></div>
        <p id="text10" class="text-component instance-10 style-9">Primrose the pigeon. Photo by Aspen&nbsp;Simone</p>
      </div>
    </div>
  </div>
</div>

<div class="container-component instance-2 style-1 default full screen">
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1">
      <h2>What to expect on a tour</h3>
      <p>When you sign up, we&#39;ll send you an email with tour-specific details about accessibility, parking, and what to bring.<p>Here&#39;s some general information about what you can expect on a typical tour.</p>
      <h3>Accessibility</h3>
      <p>Tours involve about a mile of walking. We choose routes that are easy to travel, but unexpected obstacles may occur.</span><p>If you have specific mobility needs or questions, please get in touch and we&#39;ll work to meet your needs.</p>
      <h3>Transportation</h3>
      <p>Our tours are held in locations walkable from public transportation.</p>
      <p>In Philly, tours are located near 2-hour free street parking or paid parking, and the tours are 90 minutes so you have some buffer.</span><p>When you register, location-specific transportation and parking advice will be sent to you.</p>
      <h3>What to bring</h3>
      <p>Pigeon tours are rain-or-shine — just like pigeons.</p>
      <p>Please wear weather-appropriate clothes, footwear, and sun protection. We also recommend bringing some water.</p>
      <p>If you have your own binoculars, we recommend bringing them! If you don&#39;t, we have a few loaner pairs to share.</p>
      <p>If you plan to tip your guide, you may want to bring cash. (We take <a href="{{ site.data.links.venmo }}">Venmo</a> too.)</p>
    </div>
  </div>
</div>

<div class="container-component instance-29 style-2 default full screen">
  <div class="wrapper">
    <div class="inner">
      <h2 id="text35" class="text-component instance-35 style-1">Contact us</h2>
      <p>
        If you have any questions or need more information, please feel free to get in touch!
      </p>
      <p>
        Also, we never want cost to be a barrier, so if you&#39;d like a free tour, please email us to request that.
      </p>
      <ul id="buttons04" class="buttons-component instance-4 style-2">
        <li><a href="mailto:hello@phillypigeontours.com" class="n01" role="button">📫 Email us</a></li>
      </ul>
    </div>
  </div>
</div>
