---
title: In the media
---

<div id="container10" class="container-component instance-10 style-1 default full screen">
    <div class="wrapper">
        <div class="inner" data-onvisible-trigger="1">
            <h2>In the media</h2>
            {% for article in site.data.media.articles %}
                {% include article.html article=article %}
            {% endfor %}

            <p><em>Pending, in production, or not yet released</em></p>

            {% for article in site.data.media.pending %}
                {% include article.html article=article %}
            {% endfor %}

            <hr id="divider01" class="divider-component instance-1 style-1">
            <h2>Speaking engagements</h2>
            <h3 id="text31" class="text-component instance-31 style-1">Upcoming</h3>
            {% for event in site.data.speaking %}
                <p>
                    <strong>{{ event.title }}</strong>
                    <br /><a href="{{ event.link }}">{{ event.venue }}</a>
                    <br />{{ event.location }}
                    <br />{{ event.date }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>
