{% include container-start.html style=5 %}
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      Tours
      <ul>
        <li><a href="/philly">Philly</a></li>
        <li><a href="/nyc">New York</a></li>
        <li><a href="/boston">Boston</a></li>
      </ul>
    </li>
    <li>
      <a href="/programs">Programs</a>
      <ul>
        <li><a href="/programs/private">Private tours</a></li>
        <li><a href="/programs/youth">Youth programs</a></li>
        <li><a href="/programs/talks">Talks</a></li>
      </ul>
    </li>
    <li>
      <a href="/gift">Gift cards</a>
    </li>
    <li>
      <a href="/about">About us</a>
      <ul>
        <li><a href="/media">In the media</a></li>
      </ul>
    </li>
    <li>
      <a href="/donate"><strong>Donate</strong></a>
    </li>
  </ul>
</nav>
{% include container-end.html %}
