<div class="container-component instance-31 style-5 default full screen">
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1">
      <p class="text-component instance-68 style-8">
        <a href="/">Home</a>&nbsp; • &nbsp;
        <a href="/about">About us</a>&nbsp; • &nbsp;
        <a href="/tours/philly">Philly</a>&nbsp; • &nbsp;
        <a href="/tours/nyc">New&nbsp;York</a>&nbsp; • &nbsp;
        <a href="/programs/private">Private&nbsp;tours</a>&nbsp; • &nbsp;
        <a href="/programs/youth">Youth&nbsp;programs</a>&nbsp; • &nbsp;
        <a href="/programs/talks">Talks</a>&nbsp; • &nbsp;
        <a href="/gift">Gift&nbsp;cards</a>&nbsp; • &nbsp;
        <strong>
          <a href="/donate">Donate</a>
        </strong>
      </p>
    </div>
  </div>
</div>
