<div class="container-fluid nav-wrapper">
  <div class="container">
    <nav>
      <ul>
        {% for item in site.data.nav %}
          {% if item.children %}
            <li class="{{ item.class }}">
              <details class="dropdown">
                <summary>
                  {{ item.name }}
                </summary>
                <ul dir="rtl">
                  {% for child in item.children %}
                    <li class="{{ child.class }}"><a href="{{ child.href }}">{{ child.name }}</a></li>
                  {% endfor %}
                </ul>
              </details>
            </li>
          {% else %}
            {% if item.button %}
              <li>
                <a role="button" href="{{ item.href }}" class="{{ item.class }}">{{ item.name }}</a>
              </li>
            {% else %}
              <li class="{{ item.class }}">
                <a href="{{ item.href }}">
                  {{ item.name }}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>
</div>
