{% assign tour = site.data.tours[ include.tour ] %}

<div class="container-fluid tour summary">
  <div class="container">
    <section class="tour summary" id="{{ tour.name | slugify }}-tour">
      <div class="grid">
        <div>
          <h2>{{ tour.name }} tour</h2>
        </div>
        <div style="display: none;">
        </div>
      </div>

      <div class="grid">
        <div>
          {% include img.html name=include.image caption=false %}
        </div>

        <div>
          <p>{{ tour.tagline }}</p>

          <table>
            <tbody>
              <tr><td>Duration:</td><td><strong>90 minutes</strong></td></tr>
              <tr><td>Distance:</td><td><strong>{{ tour.distance }}</strong><br/></td></tr>
              <tr><td>Area:</td><td><strong>{{ tour.neighborhood }}</strong></td></tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="grid">
        <div class="button-wrapper">
          <center>
            <a href="{{ tour.url }}" role="button" class="outline contrast">
              {{ tour.learn_more_emoji }} Get&nbsp;tickets / Learn&nbsp;more
            </a>
          </center>
        </div>
      </div>

    </section>
  </div>
</div>
