<!DOCTYPE html>
<html lang='en-US'>
  <head>
    {% include styles.html %}
    {% include analytics.html %}
    <title>
      {% if page.title != empty %}{{ page.title }} &bull; {% endif %}Philly Pigeon Tours
    </title>
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% comment %}{% include banner.html %}{% endcomment %}
    {% include header.html %}

    <div class="site-wrapper">
      <div class="site-main">
        <div class="inner">
          <main>
            {{ content }}
          </main>
          {% include footer.html %}
        </div>
      </div>
    </div>
    <!-- Add scripts -->
  </body>
</html>
